.editorwrapper {
    display: flex;
    gap: 20px;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.header {
    max-width: 100%;
    height: 25px;
    color: #ffffd5b5;
    background-color: #2f373b;
    font-size: large;
    font-style: italic;
    font-weight: 300;
    padding-left: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.inputcontainer, .renderedhtmlcontainer {
    background-color: #4e5457;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
}
.renderedhtmlcontainer {
    flex-grow: 1;
    min-width: 450px;
}
.inputcontainer {
    min-width: 580px;
   
}
.renderhtml {
    width: 100%;
    padding-left: 20px;
    flex-grow: 1;
}